// Change your color you want --- please input rgb color (ex: 22,33,44)

// THEME PALETTE 9 ==========================================
:root {
  --c-primary-50: 240, 249, 255;
  --c-primary-100: 224, 242, 254;
  --c-primary-200: 186, 230, 253;
  --c-primary-300: 125, 211, 252;
  --c-primary-400: 56, 189, 248;
  --c-primary-500: 206,24,30;
  --c-primary-600: 206,24,30;
  --c-primary-700: 3, 105, 161;
  --c-primary-800: 7, 89, 133;
  --c-primary-900: 12, 74, 110;
  --c-primary-button-color: 43,43,43;
  --c-primary-button-hover-color: 58,58,58;
  --c-primary-card-color: 32,32,32;
  // SECONDARY COLOR
  --c-secondary-50: 240, 253, 244;
  --c-secondary-100: 220, 252, 231;
  --c-secondary-200: 187, 247, 208;
  --c-secondary-300: 134, 239, 172;
  --c-secondary-400: 74, 222, 128;
  --c-secondary-500: 34, 197, 94;
  --c-secondary-600: 22, 163, 74;
  --c-secondary-700: 21, 128, 61;
  --c-secondary-800: 22, 101, 52;
  --c-secondary-900: 20, 83, 45;
  --c-card-color: 33, 33, 33;

  // NEUTRAL COLOR
  --c-neutral-50: 249, 250, 251;
  --c-neutral-100: 243, 244, 246;
  --c-neutral-200: 229, 231, 235;
  --c-neutral-300: 209, 213, 219;
  --c-neutral-400: 156, 163, 175;
  --c-neutral-500: 107, 114, 128;
  --c-neutral-600: 75, 85, 99;
  --c-neutral-700: 55, 65, 81;
  --c-neutral-800: 31, 41, 55;
  --c-neutral-900: 12, 12, 12;

  // Basic
  --bs-gray-100: #1b1b29;
  --bs-gray-100-rgb: 27,27,41;
  --bs-black-100-rgb: 18,18,18;
  --bs-gray-200: #2b2b40;
  --bs-gray-200-rgb: 43,43,64;
  --bs-gray-300: #323248;
  --bs-gray-300-rgb: 50,50,72;
  --bs-gray-400: #474761;
  --bs-gray-400-rgb: 71,71,97;
  --bs-gray-500: #565674;
  --bs-gray-500-rgb: 86,86,116;
  --bs-gray-600: #6d6d80;
  --bs-gray-600-rgb: 109,109,128;
  --bs-gray-700: #92929f;
  --bs-gray-700-rgb: 146,146,159;
  --bs-gray-800: #cdcdde;
  --bs-gray-800-rgb: 205,205,222;
  --bs-gray-900: #fff;
  --bs-gray-900-rgb: 255,255,255;
  --bs-white: #fff;
  --bs-light: #2b2b40;
  --bs-primary: #3e97ff;
  --bs-success: #50cd89;
  --bs-info: #7239ea;
  --bs-warning: #ffc700;
  --bs-danger: #f1416c;
  --bs-dark: #fff;
  --bs-secondary: #323248;
  --bs-primary-active: #0095e8;
  --bs-secondary-active: #474761;
  --bs-light-active: #323248;
  --bs-success-active: #47be7d;
  --bs-info-active: #5014d0;
  --bs-warning-active: #f1bc00;
  --bs-danger-active: #d9214e;
  --bs-dark-active: #fff;
  --bs-primary-light: #212e48;
  --bs-success-light: #1c3238;
  --bs-info-light: #2f264f;
  --bs-warning-light: #392f28;
  --bs-danger-light: #3a2434;
  --bs-dark-light: #2b2b40;
  --bs-secondary-light: #1b1b29;
  --bs-primary-inverse: #fff;
  --bs-secondary-inverse: #92929f;
  --bs-light-inverse: #78829d;
  --bs-success-inverse: #fff;
  --bs-info-inverse: #fff;
  --bs-warning-inverse: #fff;
  --bs-danger-inverse: #fff;
  --bs-dark-inverse: #1b1b29;
  --bs-white-rgb: 255,255,255;
  --bs-light-rgb: 43,43,64;
  --bs-primary-rgb: 62,151,255;
  --bs-success-rgb: 80,205,137;
  --bs-info-rgb: 114,57,234;
  --bs-warning-rgb: 255,199,0;
  --bs-danger-rgb: 241,65,108;
  --bs-dark-rgb: 255,255,255;
  --bs-secondary-rgb: 50,50,72;
  --bs-text-white: #fff;
  --bs-text-primary: #3e97ff;
  --bs-text-secondary: #323248;
  --bs-text-light: #2b2b40;
  --bs-text-success: #50cd89;
  --bs-text-info: #7239ea;
  --bs-text-warning: #ffc700;
  --bs-text-danger: #f1416c;
  --bs-text-dark: #fff;
  --bs-text-muted: #565674;
  --bs-text-gray-100: #1b1b29;
  --bs-text-gray-200: #2b2b40;
  --bs-text-gray-300: #323248;
  --bs-text-gray-400: #474761;
  --bs-text-gray-500: #565674;
  --bs-text-gray-600: #6d6d80;
  --bs-text-gray-700: #92929f;
  --bs-text-gray-800: #cdcdde;
  --bs-text-gray-900: #fff;
  --bs-border-color: #2b2b40;
  --bs-border-dashed-color: #323248;
  --bs-component-active-color: #fff;
  --bs-component-active-bg: #3e97ff;
  --bs-component-hover-color: #3e97ff;
  --bs-component-hover-bg: #1b1b29;
  --bs-component-checked-color: #fff;
  --bs-component-checked-bg: #3e97ff;
  --bs-box-shadow-xs: 0 0.1rem 0.75rem 0.25rem rgba(0,0,0,.05);
  --bs-box-shadow-sm: 0 0.1rem 1rem 0.25rem rgba(0,0,0,.05);
  --bs-box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0,0,0,.075);
  --bs-box-shadow-lg: 0 1rem 2rem 1rem rgba(0,0,0,.1);
  --bs-input-color: var(--bs-gray-700);
  --bs-input-bg: var(--bs-body-bg);
  --bs-input-solid-color: var(--bs-gray-700);
  --bs-input-solid-bg: var(--bs-gray-100);
  --bs-input-solid-bg-focus: var(--bs-gray-200);
  --bs-input-solid-placeholder-color: var(--bs-gray-500);
  --bs-tooltip-box-shadow: 0px 0px 30px rgba(0,0,0,.15);
  --bs-card-box-shadow: none;
  --bs-table-striped-bg: rgba(27,27,41,.75);
  --bs-table-loading-message-box-shadow: 0px 0px 30px rgba(0,0,0,.3);
  --bs-dropdown-bg: #1c1c1c;
  --bs-dropdown-box-shadow: 0px 0px 30px rgba(0,0,0,.3);
  --bs-code-bg: #2b2b40;
  --bs-code-box-shadow: 0px 3px 9px rgba(0,0,0,.08);
  --bs-code-color: #b93993;
  --bs-symbol-label-color: #cdcdde;
  --bs-symbol-label-bg: #1b1b29;
  --bs-symbol-border-color: hsla(0,0%,100%,.5);
  --bs-bullet-bg-color: #474761;
  --bs-scrolltop-opacity: 0;
  --bs-scrolltop-opacity-on: 0.3;
  --bs-scrolltop-opacity-hover: 1;
  --bs-scrolltop-box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0,0,0,.075);
  --bs-scrolltop-bg-color: #3e97ff;
  --bs-scrolltop-bg-color-hover: #3e97ff;
  --bs-scrolltop-icon-color: #fff;
  --bs-scrolltop-icon-color-hover: #fff;
  --bs-drawer-box-shadow: 0px 0px 30px rgba(0,0,0,.1);
  --bs-drawer-bg-color: #1c1c1c;
  --bs-drawer-overlay-bg-color: rgba(0,0,0,.4);
  --bs-menu-dropdown-box-shadow: 0px 0px 30px rgba(0,0,0,.3);
  --bs-menu-dropdown-bg-color: #1c1c1c;
  --bs-menu-heading-color: #565674;
  --bs-menu-link-color-hover: #3e97ff;
  --bs-menu-link-color-show: #3e97ff;
  --bs-menu-link-color-here: #3e97ff;
  --bs-menu-link-color-active: #3e97ff;
  --bs-menu-link-bg-color-hover: #1b1b29;
  --bs-menu-link-bg-color-show: #1b1b29;
  --bs-menu-link-bg-color-here: #1b1b29;
  --bs-menu-link-bg-color-active: #1b1b29;
  --bs-scrollbar-color: #2b2b40;
  --bs-scrollbar-hover-color: #323248;
  --bs-overlay-bg: hsla(0,0%,100%,.05);
  --bs-blockui-overlay-bg: hsla(0,0%,100%,.05);
  --bs-rating-color-default: #474761;
  --bs-rating-color-active: #ffad0f;
  --bs-ribbon-label-box-shadow: 0px -1px 5px 0px hsla(0,0%,100%,.1);
  --bs-ribbon-label-bg: #3e97ff;
  --bs-ribbon-label-border-color: #0063d7;
  --bs-ribbon-clip-bg: #f9f9f9;
  --bs-engage-btn-bg: #2b2b40;
  --bs-engage-btn-box-shadow: 0px 0px 30px rgba(0,0,0,.3);
  --bs-engage-btn-border-color: #2b2b40;
  --bs-engage-btn-color: #cdcdde;
  --bs-engage-btn-icon-color: #6d6d80;
  --bs-engage-btn-color-active: #cdcdde;
}

